<div class="container mt-5">
  <div *ngIf="book" class="row">
    <div class="col-md-6"> <!-- Primer medio ancho -->
      <p><strong>Title:</strong> {{book.title}}</p>
      <p><strong>Author:</strong> {{book.authors[0].name}}</p>
    </div>
    <div class="col-md-6"> <!-- Segundo medio ancho -->
      <div class="row">
        <div class="col-md-12">
          <a class="btn btn-primary mb-2" routerLink="/">Back</a> <!-- Espacio después del botón Back -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Show All Details
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p><strong>Number of Pages:</strong> {{book.number_of_pages}}</p>
            <p><strong>Publish Date:</strong> {{book.publish_date}}</p>
            <p><strong>Subtitle:</strong> {{book.subtitle}}</p>
          </mat-expansion-panel>
        </div>
      </div>
    </div>
  </div>
</div>

